#keyboard {
  background: url(../../assets//images/Tijolo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.content {
  width: 100%;
  height: 100%;
}
